

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    height: 100vh;
}



/* -------------styles for header and navbar-------------- */

header{
    height: 15vh;
    /* border: 1px solid red; */
    margin-top: 25px;
}

header nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

header .logo-area{
    margin-left: 30px;
    height: 100%;
    width: 20%;
    /* border: 1px solid green; */
}

header .navbar-items-area{
    position: relative;
    height: 55%;
    width: 35%;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px solid blue; */
    margin-right: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px 3px rgb(201, 201, 201);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-area img{
    height: 100%;
}

.navbar-items-area .nav-item{
    width: 24%;
    height: 60%;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
} 


.navbar-items-area .nav-item a{
    color:rgb(44, 44, 44);
    text-decoration: none;
    font-weight: 600;
} 

.navbar-items-area .nav-item i{
    font-size: 0.85em;
    margin-right: 5px;
}





.slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 65%;
    background-color: rgb(8, 106, 253);
    border-radius: 20px;
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 0;
}

.nav-item {
    position: relative;
    padding: 10px 18px;
    z-index: 1;
    cursor: pointer;
}

.nav-item a,
.nav-item i {
    color: rgb(44, 44, 44);
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s ease;
}


.nav-item.active a,
.nav-item.active i {
    color: white;
}

.nav-item.active a,
.nav-item.active i {
    color: white;
}
